#name {
  background-color: #4aaaa5;
  display: flex;
  align-content: flex-start;
  margin-left: 100px;
  padding: 15px;
  width: 200px;
}

#one:hover {
  background-color: antiquewhite;
}

#one {
    background-color: #ffffff;
    border: 1px solid #cccccc;
  border-collapse: collapse;
  padding: 20px;
  margin: 0;
  width: 900px;
}

#two:hover {
  background-color: antiquewhite;
}

#two {
  background-color: #ffffff;
  border: 1px solid #cccccc;
border-collapse: collapse;
padding: 20px;
margin: 0;
width: 900px;
}

#three:hover {
  background-color: antiquewhite;
}

#three {
  background-color: #ffffff;
  border: 1px solid #cccccc;
border-collapse: collapse;
padding: 20px;
margin: 0;
width: 900px;
height: 150px;
}


.space {
  margin-top: -40px;
  margin-right: 20px;
}

#links {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0;
}



body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  line-height: 200%;

}

nav {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

h1 {
  color: #eee;
  font-size: 28px;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#intro {
    text-align: left;
    color: #4aaaa5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.container {
    width: 960px;
    height: 600px;
    background: #ffffff;
    margin: 0 auto 0 auto;
    padding: 20px;
    margin-top: 50px;
    overflow: auto;
    clear: both;
    border: 1px solid #dddddd;
    box-shadow: 1px 1px 2px 1px black;
}


#footer {
    background-color: #4aaaa5;
    padding: 10px;
    height: 10px;
    
}

#footer-div {
    background-color: #666666;
    padding: 10px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    height: 20px;
    width: 98.5%;
    
}
