#name {
    background-color: #4aaaa5;
    display: flex;
    align-content: flex-start;
    margin-left: 100px;
    padding: 15px;
    width: 200px;

}

.space {
margin-top: -40px;
margin-right: 20px;
}

#links {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0;

}



body {
  margin: 0;
  padding: 0;
  line-height: 200%;

}

header {
    background-color: #ffffff;
    border: 1px solid #cccccc;
  border-collapse: collapse;
}

h1 {
  color: #eee;
  font-size: 28px;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#intro {
    text-align: left;
    color: #4aaaa5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.container {
    width: 960px;
    height: 400px;
    background: #ffffff;
    margin: 0 auto 0 auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: auto;
    clear: both;
    border: 1px solid #dddddd;
  border-collapse: collapse;
  flex: 1 0 auto;
}


#bio-image {
    float: left;
    margin: 20px;
    overflow: auto;
    clear: both;
    
}

#footer {
    background-color: #4aaaa5;
    flex-shrink: 0;
    padding: 10px;
    height: 10px;
    
}

#footer-div {
    background-color: #666666;
    padding: 10px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    height: 20px;
    width: 98.5%;
    
}

.img {
  margin: 53px;
  float: top;
  width: 210px;
  height: 180px;
  margin-top: 0;
  border: 1px solid orchid; 
}

#pup {
  background-color: #4aaaa5;
    width: 210px;
    position: relative;
    left: 53px;
    top: 250px;
}

.pups {
  color: #eee;
  font-size: 24px;
  text-align: center;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#pup2 {
  background-color: #4aaaa5;
    width: 211px;
    position: relative;
    left: 375px;
    top: 220px;
}

#pup3 {
  background-color: #4aaaa5;
    width: 211px;
    position: relative;
    left: 53px;
    top: 400px;
}

#pup4 {
  background-color: #4aaaa5;
    width: 211px;
    position: relative;
    left: 375px;
    top: 390px;
}

#image-box {
  position: relative;
  top: -125px;
  margin:0;
  padding: 0;
}