#name {
    background-color: #4aaaa5;
    position: relative;
    margin: 0;
    padding: 20px;
    left: 190px;
    top: 0;
    width: 15%;

}

#one:hover {
  background-color: antiquewhite;
}

#one {
    background-color: #ffffff;
    border: 1px solid #cccccc;
  border-collapse: collapse;
  padding: 20px;
  margin: 0;
  width: 900px;
}

#two:hover {
  background-color: antiquewhite;
}

#two {
  background-color: #ffffff;
  border: 1px solid #cccccc;
border-collapse: collapse;
padding: 20px;
margin: 0;
width: 900px;
}

#three:hover {
  background-color: antiquewhite;
}

#three {
  background-color: #ffffff;
  border: 1px solid #cccccc;
border-collapse: collapse;
padding: 20px;
margin: 0;
width: 900px;
height: 150px;
}

#submit {
  float: left;
  margin-top: 20px;
}
.space {
padding: 20px;
}

#links {
    position: absolute;
    right: 20px;
    top: 50px;

}



body {
  margin: 0;
  padding: 0;
  line-height: 200%;

}

header {
    background-color: #ffffff;
    border: 1px solid #cccccc;
  border-collapse: collapse;
}

h1 {
  color: #eee;
  font-size: 28px;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#intro {
    text-align: left;
    color: #4aaaa5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.container {
    width: 960px;
    height: 600px;
    background: #ffffff;
    margin: 0 auto 0 auto;
    padding: 20px;
    margin-top: 50px;
    overflow: auto;
    clear: both;
    border: 1px solid #dddddd;
  border-collapse: collapse;
}


#footer {
    background-color: #4aaaa5;
    padding: 10px;
    height: 10px;
    
}

#footer-div {
    background-color: #666666;
    padding: 10px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    height: 20px;
    width: 98.5%;
    
}

button:active {
  background-color: rgb(201, 177, 177);
  width: 80px;
  height: 30px;
  border-color: hotpink;
}